<!DOCTYPE html>
<head>
<title>Login</title>
<link rel="stylesheet" href="/style.css">

</head>

<body>
<div class="container">
<h1>Feedback</h1>
<form action="/fd/save"   method="post">
 

<textarea name="feedback" rows="10" cols="50">write your feedback here....</textarea>
<button type="submit">Submit</button>

</form>


<div align="center">
		<table border="1" cellpadding="10" cellspacing="10">
			
			<tr>
				<th>ID</th>
				<th>Feedback</th>
				<th>Date</th>
				<th colspan="3">ACTION</th>
			</tr>
			<tr th:each="e:${elist}">
				<td th:text="${e.id}"></td>
				<td th:text="${e.feedback}"></td>
				<td th:text="${e.date}"></td>
				<td><a th:href="@{/fd/edit/{id}(id=${e.id})}" >Update1</a> </td>
				<td><a th:href="@{/fd/delete/{id}(id=${e.id})}">Delete</a></td>

			</tr>
			
		</table>
		<h2>
				<a href="/">Logout</a>
			</h2>
	</div>

</div>
</body>
</html>